[Unit]
Description=Liquidsoap Streaming Service
After=network.target mixengine.service
Requires=mixengine.service

[Service]
User=liquidsoap
Group=liquidsoap
ExecStart=/bin/liquidsoap /home/debian/interference/setupfiles/liquidsoap.liq
Restart=on-failure

[Install]
WantedBy=multi-user.target