# MixEngine systemctl service file
#
# Link into systemctl with:
# % sudo ln -s /home/debian/interference/setupfiles/mixengine.service /etc/systemd/system/mixengine.service
#
# Start:
# % sudo systemctl start mixengine.service
#
# Restart:
# % sudo systemctl start mixengine.service
#
# View journal:
# % journalctl -u mixengine.service --no-pager | less
# (thought ordinary servver messsage sould be reported in interference/logs/mixengine.log)

[Unit]
Description=AdminServer Node.js Express backend service
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/interference/AdminServer
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target
