# MixEngine systemctl service file
#
# Link into systemctl with:
# % sudo ln -sf /home/debian/interference/setupfiles/mixengine.service /etc/systemd/system/mixengine.service
# % systemctl daemon-reload
#
# Start:
# % sudo systemctl start mixengine.service
#
# Restart:
# % sudo systemctl start mixengine.service
#
# View journal:
# % journalctl -u mixengine.service --no-pager | less
# (though ordinary servver messsage sould be reported in interference/logs/mixengine.log)

[Unit]
Description=MixEngine Node.js Express backend service
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/interference/MixEngine
ExecStart=/usr/bin/npm start
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
