[Unit]
Description=AdminServer Node.js Express backend service
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/interference/AdminServer
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target
