[Unit]
Description=mix engine
After=network.target

[Service]
Type=simple
User=debian
WorkingDirectory=/home/debian/interference/MixEngine
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target
