

/* Root Variables */
:root {
  --body-color: #f5f5f5;
  --default-text-color: #222;
  --link-color: #135394;
  --logo-color: #fff;
  --button-form-background-color: #849FBA;
  --button-form-reset-background-color: #BA8884;
  --button-form-text-color: white;
  --error-text-color: #dc2626;
  --success-text-color: #2d5b89;
  --content-box-border-color: #ccc;
  --content-box-color: #E5E7EB;
  --editor-string-color: rgb(68, 127, 68);
  --editor-track-color: rgb(204, 27, 27);
  --editor-clip-color: rgb(213, 101, 26);
  --form-tag-color: #dae3ec;
}

body {
  background-color: var(--body-color);
  color: var(--default-text-color);
}

.display-box a, .link {
  color: var(--link-color) !important;
  font-weight: 500;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

/*
 *  Layout Elements
 */

.display-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin-top: 0.5rem;
  padding-bottom: 5rem;
}

.display-box {
  /* max-width: 42rem; */
  min-width: calc(100% - 4rem);
  padding: 1rem 3rem; 
  margin-left: auto;
  margin-right: auto;
  border: 2px solid var(--content-box-border-color); /* border-gray-400 */
  border-radius: 0.5rem; /* rounded */
  background-color: var(--content-box-color); /* bg-gray-200 */
}

.edit-wrapper .display-box {
  width: 850px;
}

.display-box h2.title {
  padding-bottom: 1rem; 
  font-size: 1.75rem; 
  text-align: center;
}

.display-box .subtitle {
  margin-top: -0.5rem;
  padding-bottom: 0.25rem; /* 4px */
  font-size: 1.5rem; /* 24px */
  font-style: italic;
}

.display-box p {
  margin-bottom: 0.75rem;
}

/* 
 * Code Editor Styles 
 */

.code-editor {
  height: auto;
  resize: vertical;
  overflow-x: hidden; 
  overflow-y: auto;
}

.ace_quoted-string {
  color: var(--editor-string-color);
  font-weight: normal;
}

.ace_editor-highlight-track {
  color: var(--editor-track-color);
  font-weight: bold;
}

.ace_editor-highlight-clip {
  color: var(--editor-clip-color);
  font-weight: bold;
}

/* Form Elements Styles */
.form-group {
  margin-bottom: 1rem;
  border: solid 2px var(--content-box-border-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.form-label {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: bold;
  margin-right: 0.5rem;
}

.form-field, .form-textarea, .form-upload {
  width: 100%; 
  height: auto;
  padding: 0.25rem;
  margin-bottom: 0.75rem;
}

.form-textarea {
  height: 5rem;
}

.required {
  color: var(--error-text-color);
  font-weight: bold;
}


/* form buttons */

.form-button-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5rem;
}

.button, .form-button-box button {
  background-color: var(--button-form-background-color);
  color: var(--button-form-text-color);
  border-radius: 0.25rem;
  padding: 4px 12px;
}

.form-button-box button.reset {
  background-color: var(--button-form-reset-background-color);
}

/* Message Box Styles */
.message-box {
  padding-top: 0.5rem;
  height: 2rem;
}

.success {
  text-align: center;
  color: var(--success-text-color);
  font-weight: bold;
}

.error {
  text-align: center;
  color: var(--error-text-color);
  font-weight: bold;
}

/*
 *  Modal Styles
 */

 .capabilities-wrapper .display-box {
  width: calc(100% - 2rem);
 }

.capabilities-wrapper h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

.capabilities-wrapper h2 {
  font-size: 1.25rem;
  font-weight: bold;
}

.capabilities-wrapper h3 {
  font-size: 1rem;
  font-weight: bold;
  border-bottom: 1px solid var(--default-text-color);
}

.capabilities-wrapper .criteria-list {
  column-width: 10rem;
}

/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
