<p>Hey {{firstname}},</p>

<p>You've been promoted to contributor on {{siteName}}. You can now upload audio for possible use in the stream.</p>

<p>To contribute, select <a href="{{siteUrl}}/audio/upload">Add New Audio</a> from the menu.</p>

{{> contributor-tips-html}}

<p>Once you've submitted something, you can track your contributions and see which ones are waiting for approval on <a href="{{siteUrl}}/profile/{{username}}">your profile page</a>.</p>

<p>If you have any questions, don't hesitate to reach out.</p>

<p>— Wes</p>
